.lowerdashboard-mc {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 15px;
  width: 100vw;
  height: 40px;
  background-color: transparent;
}
.feedback-popup {
  border-radius: 6px;
  width: 130px;
  height: 40px;
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreCounter {
  position: absolute;
  left: 15px;
  min-width: 90px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--backgroundColor);
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}