/* dashboard */
.dashboard-mc {
  position: absolute;
  height: 46px;
  width: 100vw;
  background: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}
.dashboard-trapezoid {
  box-sizing: border-box;
  margin: 0;
  height: 46px;
  width: 260px;
  background-color: var(--mainColor);
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* NavbarMenu */
.m-btn {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
  margin-right: 2.6rem;
  cursor: pointer;
}
.m-btn-bar {
  height: 0.3rem;
	width: 2.2rem;
	background-color: var(--mainColor);
	border-radius: 5px;
  transition: 300ms;
}
.m-list-container {
  max-height: 0px;
  width: 300px;
  background-color: var(--backgroundColor);
  border-top: none;
  border-right: none;
  position: absolute;
  right: 0;
  top: 46px;
  z-index: 5;
}
.m-list {
  padding: 10px;
}
.m-item {
  all: unset;
  width: 88%;
  min-height: 28px;
  color: var(--mainColor);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 6px;
  background: rgba(255, 255, 255, 0.166);
}
.m-item:hover {
  cursor: pointer;
}
.m-item-name {
  padding: 6px;
}
/* radio buttons */
.m-radio-btns-contaner {
  background-color: rgba(255, 255, 255, 0.166);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m-radio-btn > input[type="radio"]{
  display: none;
}
.m-radio-btn > input[type="radio"]:checked + span:before{
  box-shadow: inset 0 0 0 5px #00005c;
}
.m-radio-btn {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 4px;
  width: 100%;
}
.m-radio-btn span{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 12px 6px 8px;
  border-radius: 6px;
  transition: .25s ease;
}
.m-radio-btn span:hover, input[type="radio"]:checked + span{
  background-color: #d6d6e5;
  color: black;
}
.m-radio-btn span:before{
  content: "";
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.4rem;
  transition: .25s ease;
  box-shadow:  inset 0 0 0 2px #00005c;
}
